/**********************************************************************/
/*  PROYECTO TARJETAS              */
/*  EQUIPO SUECIA                 */

/**********************************************************************/

  

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /*outline: 1px solid red;*/

}



:root {
  --color-fondo: hsl(77, 14%, 80%);
  --color-menu: hsla(210, 56%, 24%, 0.861);
  --color-letras:white;
  --color-mazo: hsl(64, 81%, 75%);
  --color-fondo-mazos: hsla(77, 14%, 80%, 0.73);

  --fuente-primaria: sans-serif;
  --fuente-secuendaria: serif;
} 



/**********************************************************************/

body {
  display: grid;
  text-align: center;
  grid-template-columns: minmax(200px, 25%) 1fr;
  height: 100vh;
} 


/**********************************************************************/

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--color-menu);
  color: var(--color-letras);
}
 
.menu__cabecera {
  margin-right: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: x-large;
  text-align: right;
} 

 
.menu__mazos {
  display:flex;
  flex-direction:column;
  background-color: var(--color-fondo-mazos);
  margin-right: 2em;
  border-radius: 0.5em

} 

.mazo {
  margin: 1em;
  padding: 0.5em;
  background-color: var(--color-menu);
  color: var(--color-letras);
  cursor: pointer;
	position: relative;
}


/* Para añadir efectos a los botones */
.mazo span {
	transition: all 0.3s;
}
.mazo::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: var(--color-mazo);
	transform: scale(0.1, 1);
}
.mazo:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.mazo:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
.mazo:focus, .mazo:active{
  border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: var(--color-mazo);
}




/**********************************************************************/


.panel {
  background-color: var(--color-fondo);
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;

} 

/**********************************************************************/


.panel__visor-tarjetas {
  perspective: 1000px;
  
} 


/**********************************************************************/
.tarjeta {
  border-style:solid;
  background-color:var(--color-letras);
  position: relative;
  cursor: pointer;
}


.tarjeta--activa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  width: 350px;
  height: 200px;
  
} 


.tarjeta--izquierda {
  display:none;
} 

.tarjeta--derecha {
  display:none;
} 


/**********************************************************************/

/* Las clases --anverso y --reverso modelan los lados de la tarjeta */



.tarjeta--anverso {
  position: absolute;
  backface-visibility: hidden;
  /* Para ver la cara trasera tras girar*/
  transform-style: preserve-3d;
  
}

.tarjeta--reverso {
  position: absolute;
  /* Para que solo se vea la cara de delante*/
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  /* Color para diferenciar delante y detrás*/
  background-color: aqua;
} 

.tarjeta--volteo .tarjeta--anverso {
  transform: rotateY(180deg);
}

.tarjeta--volteo .tarjeta--reverso {
  transform: rotateY(180deg);
} 
 


/**********************************************************************/


.panel__navegacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 100px;
  padding: 1em;
}


.desplazamiento {
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
}

.referencia {
  font-size: x-large;
}


/**********************************************************************/